<% layout('layout') -%>

<section class="text-center">
  <h1>Bienvenido a SysTools</h1>
  <p>Herramientas online para técnicos de redes y sistemas.</p>
</section>
<section>
  <p>Una plataforma web integral, diseñada por y para técnicos.
    Incluye herramientas útiles tanto para el diagnóstico rápido como para la administración avanzada de sistemas y redes. 
  <br>Desde el escaneo de red y consulta de IP pública hasta zonas privadas protegidas con login y un completo panel de administración.</p>
</section>
