<% layout('layout') -%>
<section class="ip-container">
    <h2>Tu IP Pública</h2>
    <div class="ip-info">
        <p id="ip">Cargando IP...</p>
        <button id="refresh-ip" class="btn btn-primary">Actualizar IP</button>
    </div>
    <div id="map" class="map-container"></div>
</section>

<% block('scripts').append('<script src="./js/servicios/ip.js" type="module"></script>') %>


